<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <title>tic-tac-toe</title>
</head>
<body>
    
	<h3>Oppo: <span th:text="${opponent}"></span></h3>
	<p id="knock"></p>
	<h3>User: <span th:text="${principal}"></span></h3>
	
    <div id="container"></div>
	
	<input type="text" th:value="${principal}" id="principal" hidden>

<script>

    var cells = new Array()

    var container = document.getElementById("container")

    window.onload = ()=>{

        for (var y=0; y<3; y++)
        {
			var row = new Array()
            for (var x=0; x<3; x++)
            {
                var cell = document.createElement("button")
                cell.setAttribute("class", "cell")
                cell.setAttribute("onclick", "makeMove("+x+","+y+")")
                cell.style.left = (50*x)+"px"
                cell.style.top = (50*y)+"px"
                container.appendChild(cell)
				row.push(cell)
            }
			cells.push(row)
        }
		
		connect()
    }
	
	window.onbeforeunload = function () {
		stompClient.deactivate();
		console.log("Disconnected");
	};

	function makeMove(x,y)
	{
        stompClient.publish({
            destination: "/app/move",
            body: JSON.stringify({ 'x': x, 'y': y })
        });
	}

    function updateBoard(move)
    {
        var x = parseInt(move.x)
        var y = parseInt(move.y)
        
        cells[y][x].innerHTML = 'O'

    }

    const stompClient = new StompJs.Client({
        brokerURL: 'ws://localhost:8080/gs-guide-websocket'
    });

    stompClient.onConnect = (frame) => {
        setConnected(true);
        console.log('Connected: ' + frame);
        stompClient.subscribe('/user/queue/move', (move) => {
            console.log(move.headers["message-id"])
            updateBoard(JSON.parse(move.body));
        });
		stompClient.subscribe('/user/queue/knock', (user) => {
            console.log(user.headers["message-id"])
			
            $("#knock").html( JSON.parse(user.body).username )
        });
		
		stompClient.publish({
            destination: "/app/map",
            body: JSON.stringify({'username':$("#principal").val()})
        });
    };

    stompClient.onWebSocketError = (error) => {
        console.error('Error with websocket', error);
    };

    stompClient.onStompError = (frame) => {
        console.error('Broker reported error: ' + frame.headers['message']);
        console.error('Additional details: ' + frame.body);
    };

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
    }

    function connect() {
        stompClient.activate();
    }

    function disconnect() {
        stompClient.deactivate();
        setConnected(false);
        console.log("Disconnected");
    }
	
</script>
</body>
</html>