<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
	<h3>Choose your opponent</h3>
	<ul>
        <li th:each="opponent: ${opponentList}">
            <form th:action="@{/opponent}" th:object="${opponentObject}" method="post">
				<b th:text="${opponent}"></b>
                <input type="text" name="username" th:value="${opponent}" hidden>
                <input type="submit" th:value="knock">
            </form>
        </li>
	</ul>

	
</body>
</html>