<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
	
	
    <form th:action="@{/register}" th:object="${user}" method="post" onsubmit="return validateForm()" >
        <input id="input" type="text" th:field="*{username}" placeholder = "Your name please"><br>
        <input type="submit" value="Sign In">
    </form>
	
	<script>
		function validateForm() {
		  var x = document.getElementById("input").value;
		  if (x == "") {
		    alert("Name must be filled out");
		    return false;
		  }
		} 
	</script>
</body>
</html>